body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 390px;
    float: left;
}
.menu{
    float: left;
    padding-left: 430px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 16px;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/Парень.jpg) 90% 100%/auto 85% no-repeat, url(../img/фон.jpg) center/cover no-repeat;

}
.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
}
.title__container h1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}
.title__container h4{
    color: #79818d;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}
.title__container input{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 40px -60px 0px 105px;
}

